@font-face {
  font-family: myFirstFont;
  src: url(Jameel_Noori_Nastaleeq_Regular.woff);
}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Jameel Noori Nastaleeq;
}
.container {
  min-height: 80vh;
  width: 100%;
  background-color: #485461;
  background-image: linear-gradient(135deg, #485461 0%, #28313b 74%);
  overflow-x: hidden;
  transform-style: preserve-3d;
}
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  height: 5rem;
}
.menu {
    max-width: 72rem;
    width: 100%;
    margin: 0 auto;
    padding: 0 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    height: 5rem;
  }
.menu img{
    width: 70px;
}
.hamburger-menu {
  height: 4rem;
  width: 3rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.bar {
  width: 1.9rem;
  height: 1.5px;
  border-radius: 2px;
  background-color: #eee;
  transition: 0.5s;
  position: relative;
}

.bar:before,
.bar:after {
  content: "";
  position: absolute;
  width: inherit;
  height: inherit;
  background-color: #eee;
  transition: 0.5s;
}

.bar:before {
  transform: translateY(-9px);
}

.bar:after {
  transform: translateY(9px);
}

.main {
  position: relative;
  width: 100%;
  left: 0;
  z-index: 5;
  overflow: hidden;
  transform-origin: left;
  transform-style: preserve-3d;
  transition: 0.5s;
}

header {
  min-height: 80vh;
  width: 100%;
  position: relative;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(43, 51, 59, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
}
.overlay img {
    width: 500px;
    margin-top: 60px;
}
.inner {
  max-width: 35rem;
  text-align: center;
  color: #fff;
  padding: 0 2rem;
}
.btn {
  margin-top: 1rem;
  padding: 0.6rem 1.8rem;
  background-color: #1179e7;
  border: none;
  border-radius: 25px;
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
  text-decoration: none;
}

.container.active .bar {
  transform: rotate(360deg);
  background-color: transparent;
}

.container.active .bar:before {
  transform: translateY(0) rotate(45deg);
}

.container.active .bar:after {
  transform: translateY(0) rotate(-45deg);
}

.container.active .main {
  animation: main-animation 0.5s ease;
  cursor: pointer;
  transform: perspective(1300px) rotateY(20deg) translateZ(310px) scale(0.5);
}

@keyframes main-animation {
  from {
    transform: translate(0);
  }

  to {
    transform: perspective(1300px) rotateY(20deg) translateZ(310px) scale(0.5);
  }
}

.links {
  position: absolute;
  width: 30%;
  right: 0;
  top: 0;
  height: 80vh;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

ul {
  list-style: none;
}

.links a {
  text-decoration: none;
  color: #eee;
  padding: 0.7rem 0;
  display: inline-block;
  font-size: 1rem;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: 0.3s;
  opacity: 0;
  transform: translateY(10px);
  animation: hide 0.5s forwards ease;
}

.links a:hover {
  color: #fff;
}

.container.active .links a {
  animation: appear 0.5s forwards ease var(--i);
}

@keyframes appear {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes hide {
  from {
    opacity: 1;
    transform: translateY(0px);
  }
  to {
    opacity: 0;
    transform: translateY(10px);
  }
}

.shadow {
  position: absolute;
  width: 100%;
  height: 80vh;
  top: 0;
  left: 0;
  transform-style: preserve-3d;
  transform-origin: left;
  transition: 0.5s;
  background-color: rgb(58, 255, 3);
}

.shadow.one {
  z-index: -1;
  opacity: 0.15;
}

.shadow.two {
  z-index: -2;
  opacity: 0.1;
}

.container.active .shadow.one {
  animation: shadow-one 0.6s ease-out;
  transform: perspective(1300px) rotateY(20deg) translateZ(215px) scale(0.5);
}

@keyframes shadow-one {
  0% {
    transform: translate(0);
  }

  5% {
    transform: perspective(1300px) rotateY(20deg) translateZ(310px) scale(0.5);
  }

  100% {
    transform: perspective(1300px) rotateY(20deg) translateZ(215px) scale(0.5);
  }
}

.container.active .shadow.two {
  animation: shadow-two 0.6s ease-out;
  transform: perspective(1300px) rotateY(20deg) translateZ(120px) scale(0.5);
}

@keyframes shadow-two {
  0% {
    transform: translate(0);
  }

  20% {
    transform: perspective(1300px) rotateY(20deg) translateZ(310px) scale(0.5);
  }

  100% {
    transform: perspective(1300px) rotateY(20deg) translateZ(120px) scale(0.5);
  }
}

.container.active .main:hover + .shadow.one {
  transform: perspective(1300px) rotateY(20deg) translateZ(230px) scale(0.5);
}

.container.active .main:hover {
  transform: perspective(1300px) rotateY(20deg) translateZ(340px) scale(0.5);
}
.border{
    display: flex;
}
.border img{
    width: 674.5px;
}
.reception {
  height: 100vh;
  background-color: #eee;
  background-image: url(half-drawing.png);
  background-repeat: no-repeat;
  background-attachment: inherit;
  background-position: left; 
  background-size: 700px 100vh;
}
.subhead{
  height: 20vh;
  text-align: center;
  padding-top: 50px;
  font-size: 30px;
}
.subhead h2{
  margin-bottom: 20px;
}
.line{
  border: #485461 solid;
  border-radius: 30%;
  width: 40%;
  margin: auto;
}
.kids{
  width: 700px;
  float: right;
  margin-top: 26px;
}
.reception h5{
  font-size: 30px;
  direction: rtl;
  padding-right: 770px;
}
.padding{
  padding-top: 30vh;
}
.mehrab{
  height: 70vh;
  background-image: url(vecteezy_gradient-islamic-pattern-background_.jpg);
  background-repeat: no-repeat;
  background-attachment: initial;
  background-size: 100%;
  display: grid;
  grid-template-columns: 250px 250px 250px 250px;
  justify-content: center;
}
.blocks{
  height: 330px;
  margin: 80px 30px 20px 30px;
  border-radius: 45% 45% 20px 20px;
  text-align: center;
  color: white;
}
.img{
  height: 130px;
  padding-top: 30px;

}
.subt{
  height: 50px;
  font-size: 30px;
}
.pera{
  height: 150px;
  padding: 10px;
}
/* slide  */
.slides{
  height: 60vh;
  background-color: rgba(33, 52, 26, 0.987);
  justify-content: center;
  display: grid;
  grid-template-columns: 220px 220px 320px 220px 220px;
  /* padding-top: 90px; */
}
.form{
  height: 100vh;
  background-color: azure;
  padding-top: 10vh;
  direction: rtl;
}
.add{
  height: 80vh;
  width: 1000px;
  background-color: #409cff;
  margin: auto;
  border-radius: 20px;
  border: 3px double silver;
}
.add h1{
  color: white;
  margin-top: 25px;
  text-align: center;
  font-size: 40px;
}
.add button{
  background-color: #002fff;
  margin: 20px 795px 5px 10px;
  font-size: 30px;
  color: white;
  padding: 5px 10px 5px 10px;
  border: 2px solid white;
  border-radius: 4px;
}
.name{
  height: 40px;
  width: 270px;
  border: 2px solid black;
  border-radius: 5px;
  margin-top: 40px;
  margin-right: 40px;
  padding-right: 5px;
  font-size: 20px;
  word-spacing: 4px;
  width: 270px;
}
.address{
  height: 40px;
  width: 270px;
  border: 2px solid black;
  border-radius: 5px;
  margin-top: 40px;
  margin-right: 40px;
  padding-right: 5px;
  font-size: 20px;
  word-spacing: 4px;
  width: 900px;
}
.donation{
  height: 40vh;
  background-color: rgba(33, 52, 26, 0.987);
  text-align: center;
  color: white;
  padding-top: 5x;
}
.donation h4{
  font-weight: lighter;
}
.footer{
  display: grid;
  grid-template-rows: 35vh 13vh;
  background-color: #485461;
  height: 50vh;
  direction: rtl;
  color: white;
}
.foot-top{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
}
.foot-top .else{
  padding-right: 70px;
  font-size: 20px;
  padding-top: 30px;
}
.foot-top div button{
  background-color: #1179e7;
  border-radius: 10px;
  padding: 8px 20px 8px 20px;
  font-size: 30px;
  margin: 30px 270px 0px 0px;
  color: white;
  border: 2px solid white;
}
.foot-bottom{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.foot-bottom div{
  width: 100%;
}
.iconn img{
  width: 150px;
  margin-right: 270px;
  margin-top: -70px;
}
.icons{
  font-size: 40px;
  padding-right: 60px;
  padding-top: 20px;
}
.list{
  display: flex;
}
.list ul{
  display: flex;
  padding-right: 70px;
  font-size: 20px;
  margin-top: 30px;
}

.list a{
  color: white;
  text-decoration: none;
  margin-left: 30px;
}
.list a:hover{
  font-size: large;
}